.octodex ul {
    box-sizing: border-box;
    list-style: none;
}
.octocat {
    float: left;
    list-style-type: none;
}
.image-footer div {
    position: relative;
    font-size: 10px;
    top: 8px;
}
.image-number {
    color: gray;
    box-sizing: border-box;
    position: relative;
    bottom: 4px;
}
.image-caption div {
    color:lightgray;
}
.authors li img {
    float:right;
    width: 40px;
    height: 40px;
/*    box-sizing: border-box;  */
}

img {
    border: 1px solid lightgray;
    width: 300px;
    height: 300px;
}
