body {
  background-color: lightblue;
  color: white;
}
h1, h2 {
  text-align: center;
}
#mainDiv {
  margin: .5em;
  background-color:darkslategrey;
  padding: 1em;
}
#navBar {
}

#navBar:after {
    content:"";
    display:block;
    clear:both;
}
#navBar ul {
    list-style: none;
    margin: 3em 0 0 1em;
}

#navBar ul li {
     text-align: center;
     display: inline;
     width: 20%;
     float: left;
     margin-right: .5em;
}
#navBar ul li a {
    color: white;
}
#navBar ul li a:hover {
    font-weight: bold;
    color: orangered;
}

li.nav {
    padding: 1em;
    border: 2px solid white;
}
p.moveDown {
  margin-top: 2em;
}
a {
  margin-left: 1em;
}
a.cssref:hover {
  hover: yellow;
}

a.cssref:active{
  color:green;
}
a.cssref:visited {
  color: gray;
}
h3 {
  font-family: gothic, sans-serif;
}
#goals {
  margin: 2em 0 0 1.5em;
  padding: .5em;
}